
.code-container
{
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.code-container >  input[type=file]
{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}
