
.main-sidebar
{
  height: 100vh !important;
}

.bottom-navbar
{
  position: fixed;
  width: 100vw;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow-x: auto;
}

.nav-item-botom
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav-item-botom:hover
{
  background-color: #eeeeee;
}

.active
{
  color: #009578;
}

.nav__icon
{
  font-size: 18px;
}
